.root {
    -fx-background-image: url("bg.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;


}

.goldRoot {
     -fx-background-image: url("bg2.png");
     -fx-background-repeat: no-repeat;
     -fx-background-size: cover;
     -fx-background-position: center center;

}

.freezeRoot {
     -fx-background-image: url("bg3.png");
     -fx-background-repeat: no-repeat;
     -fx-background-size: cover;
     -fx-background-position: center center;

}

.label {
    -fx-font-family: 'Times New Roman', 'Georgia', serif;
    -fx-text-fill: black;
    -fx-padding: 8px;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}


